*
{
	margin:0;
	padding:0;
}

header ul
{
	background:#FC2AD5;
	width:100%;
}
header li
{
	display: inline-block;
	width: 24%;
	margin:0;
	text-align:center;
	padding:5px;
}

header li:hover
{
	background: #2568EE;
}